<div class="alert alert-success ">
    <h1>Ödeme Başarılı</h1>
    <h6>Ödemeniz başarılı bir şekilde alınmıştır. Siparişiniz en kısa sürede kargolanacaktır.</h6>
    <br />
    <p>Bizi seçtiğiniz için teşekkür ederiz. 😉 </p>
</div>


