<div class="card mt-3">
    <div class="card-header">
        <h5>Ara</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ara" aria-label="Ara" aria-describedby="button-addon2" name="search">
                <button class="btn btn-primary" type="submit" id="button-addon2">Ara</button>
            </div>
        </form>
    </div>
</div>