<h1>Şifre Sıfırlama</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
          
            <div asp-validation-summary="All" class="text-danger"></div>  
            <div class="form-group row mb-2">
                <label for="email" class="col-md-4 col-form-label">Şifreniz için E-Posta adresinizi girin</label>
                <div class="col-md-8">
                    <input id="email" class="form-control" name="email" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-8 offset-4">
                    <button type="submit" class="btn btn-primary"> Şifre Gönder </button>
                </div>

            </div>
        </form>
    </div>
</div>