@model List<Category>

<div class="list-group">
    <a href="/products" class="list-group-item list-group-item-action "> Tüm Kategoriler</a>

    @foreach (var category in Model)
    {
       @* <a href="/products/@category.Url" class="list-group-item list-group-item-action "> @category.Name</a>*@
       <a asp-controller="Product"
       asp-action="List"
       asp-route-category="@category.Url"
       class="list-group-item list-group-item-action "> @category.Name</a>

    }
    
</div>